.container {
  text-align: center;
  margin-top: 50px;
}

#calculator {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #dadada;
}

input[type="text"] {
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 17px;
  background-color:#dadada;
  
  

}

button {
  width: 100%;
}
.btn-primary{
  background-color:#dadada;
  margin: 0%;
  border-radius: 0%;
  border-color: #dadada;
}

